## Redirect
## redirects /moveis_cms/load.php to the home page (/movies_cms)
Redirect 301 /movies_cms/load.php /movies_cms
Redirect 301 /load.php /

## Deny access
<FilesMatch "\.?htaccess$">
    deny from all
</FilesMatch>